# PyCitySchool
- Summary of Analysis

On Average, Charter schools have a higher average math and reading score (83% to 76%, 83% to 80% respectively. Additionally, the overall passing rate for is much higher for Charter schools 90% to 53%. 
Larger school sizes (2000 to 5000 students) have a much lower passing rate than school sizes between 0-1000 students and 1000-2000 students. 
Schools with the highest overall passing rates over 90% were: Cabrera High School, Griffin High School, Pena High School, Thomas High School, Wilson High School and Wright High School. 
Math and Reading scores by grade did not fluctuate greatly per each school. 
Each of the top 5 performing schools were Charters and each of the bottom 5 performing schools were District schools.
To summarize, Charter schools greatly outperformed District schools and larger school sizes had a lower passing rate than smaller schools. 


-Conclusions of Analysis

Two Conclusions from Data

As mentioned in the summary of the analysis, Charter schools greatly outperformed District Schools and schools with a larger size performed worse than schools with small to moderate sizes. 
The Average Math score for Charter schools was 83% compared to 76% for District, and the reading scores were 83% to the districtâ€™s 80%. The great disparity comes in the % Passing Math, % Passing Reading and % Overall Passing.
For Charter schools: 93% of students passed Math, 96% passed reading and 90% of students passed both Math and Reading. Compared to the District school performance where 66% of students passed Math, 80% passed Reading and only 53% students had an overall passing score. 
The difference between overall passing percentage between Charter and District was significant, nearly 40% more students passed in Charter schools (roughly 37% more).
Additionally, there was a significant difference in the overall passing percentage between school sizes. Large schools (2000 to 5000 students) saw an overall passing percentage of 58% compared to 89% and 90% for schools with a size of 0-1000 students and 1000-2000 students respectively. The greatest disparity was in Math specifically. Only 69% of students passed Math in large schools where 93% of students passed Math in small to moderate sized schools. The Reading passing percentage in larger schools was better compared to the Math passing percentage: 82% to 69% respectively.

In conclusion, Charter schools greatly outperformed District schools in the percentage of their students passing. While small to moderate sized schools greatly outperformed schools with 2000-5000 students. Maybe a student to teacher ratio is smaller in the moderate to small sized schools allowing students more time with teachers. That is only an assumption though.

In [1]:
# setup 
import pandas as pd
from pathlib import Path

#loading CSV files
schooldata = Path("Resources/schools_complete.csv")
studentdata = Path("Resources/students_complete.csv")

# Read csv files and store into Panda DataFrames
schooldata_df = pd.read_csv(schooldata)
studentdata_df = pd.read_csv(studentdata)

#Combine data into a single dataset
schooldata_complete = pd.merge(studentdata_df, schooldata_df, how ="left",on=["school_name","school_name"])
schooldata_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# DISCTRICT SUMMARY

In [2]:
#Calculate total number of schools
school_count = schooldata_complete["School ID"].nunique()
school_count

15

In [3]:
#Calcualte total number of students
student_count = schooldata_complete["Student ID"].nunique()
student_count

39170

In [4]:
#Calculate the total budget
total_budget = schooldata_complete["budget"].unique().sum()
total_budget

24649428

In [5]:
#Calculate the average (mean) math score
average_math_score = schooldata_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
#Calculate the average (mean) reading score
average_reading_score = schooldata_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
#Calculate the percentage of students who passed math (greater than or equal to 70)
passing_math_count = schooldata_complete[(schooldata_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
#Calculate the percentage of students who passed reading (greater than or equal to 70)
passing_reading_count = schooldata_complete[(schooldata_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = schooldata_complete[
    (schooldata_complete["math_score"] >= 70) & (schooldata_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools":[school_count], 
                                        "Total Students":[student_count], 
                                        "Total Budget": [total_budget], 
                                        "Average Math Score":[average_math_score],
                                        "Average Reading Score":[average_reading_score], 
                                        "% Passing Math":[passing_math_percentage], 
                                        "% Passing Reading":[passing_reading_percentage],
                                        "% Overall Passing":[overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# SCHOOL SUMMARY

In [11]:
# Use the code provided to select all of the school names
school_names = schooldata_complete["school_name"].unique()
#school_names = pd.DataFrame(school_names)
#school_names = school_names.set_index(["school_name"])
#school_names_df = pd.DataFrame(school_names)
#school_names_df
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [12]:
# Use the code provided to select all of the school types

#school_types = pd.DataFrame(schooldata_complete, columns=["school_name","type"])
school_types = schooldata_df.set_index(["school_name"])["type"]

#school_types = school_types.drop_duplicates(subset=["school_name"])
#school_types = school_types.set_index(["school_name"])["type"]
#school_types_df = pd.DataFrame(school_types)
#school_types_df
school_types
#school_types_df

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
# Calculate the total student count per school
per_school_counts = schooldata_complete["school_name"].value_counts()
#per_school_counts_df = pd.DataFrame(per_school_counts)
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [14]:
# Calculate the total school budget and per capita spending per school
#school_types = pd.DataFrame(schooldata_complete, columns=["school_name","type"])
#per_school_budget = pd.DataFrame(schooldata_complete, columns=["school_name","budget"])
per_school_budget = schooldata_complete.groupby(["school_name"])["budget"].first()

#per_school_budget_df = pd.DataFrame(per_school_budget)
#per_school_budget_df = pd.DataFrame(per_school_budget)
#per_school_budget_df

per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [15]:
# Calculate the total school budget and per capita spending per school
#per_school_capita = pd.DataFrame(per_school_capita)
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [16]:
# Calculate the average test scores per school
per_school_math = schooldata_complete.groupby("school_name")["math_score"].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [17]:
# Calculate the average test scores per school
per_school_reading = schooldata_complete.groupby("school_name")["reading_score"].mean()
per_school_reading.head(15)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [18]:
# Calculate the number of students per school with math scores of 70 or higher

per_school_passing_math = schooldata_complete[
    (schooldata_complete["math_score"] >= 70)
]
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()[
    "student_name"
] 
per_school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [19]:
# Calculate the number of students per school with reading scores of 70 or higher
per_school_passing_reading = schooldata_complete[
    (schooldata_complete["reading_score"] >= 70)
]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()[
    "student_name"
] 
per_school_passing_reading.head(15)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [20]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = schooldata_complete[
    (schooldata_complete["reading_score"] >= 70) & (schooldata_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

school_students_passing_math_and_reading.head(15)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate.head(15)

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing": overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by='% Overall Passing',ascending=False)
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by='% Overall Passing')
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = schooldata_complete[(schooldata_complete["grade"] == "9th")]
tenth_graders = schooldata_complete[(schooldata_complete["grade"] == "10th")]
eleventh_graders = schooldata_complete[(schooldata_complete["grade"] == "11th")]
twelfth_graders = schooldata_complete[(schooldata_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = schooldata_complete[(schooldata_complete["grade"] == "9th")].groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = schooldata_complete[(schooldata_complete["grade"] == "10th")].groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = schooldata_complete[(schooldata_complete["grade"] == "11th")].groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = schooldata_complete[(schooldata_complete["grade"] == "12th")].groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =  {"9th": ninth_grade_math_scores,
                         "10th": tenth_grader_math_scores,
                         "11th": eleventh_grader_math_scores,
                         "12th": twelfth_grader_math_scores}

# Minor data wrangling
math_scores_by_grade = pd.DataFrame(math_scores_by_grade)
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = schooldata_complete[(schooldata_complete["grade"] == "9th")]
tenth_graders = schooldata_complete[(schooldata_complete["grade"] == "10th")]
eleventh_graders = schooldata_complete[(schooldata_complete["grade"] == "11th")]
twelfth_graders = schooldata_complete[(schooldata_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = schooldata_complete[(schooldata_complete["grade"] == "9th")].groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = schooldata_complete[(schooldata_complete["grade"] == "10th")].groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = schooldata_complete[(schooldata_complete["grade"] == "11th")].groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = schooldata_complete[(schooldata_complete["grade"] == "12th")].groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = {"9th": ninth_grade_reading_scores,
                         "10th": tenth_grader_reading_scores,
                         "11th": eleventh_grader_reading_scores,
                         "12th": twelfth_grader_reading_scores}


# Minor data wrangling
reading_scores_by_grade = pd.DataFrame(reading_scores_by_grade)
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita,spending_bins)
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = per_school_summary.loc[:,["Average Math Score",
                                            "Average Reading Score", "% Passing Math",
                                            "% Passing Reading","% Overall Passing",]]

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
size_spending_df = per_school_summary.copy()
per_school_summary["School Size"] = pd.cut(per_school_counts,size_bins)
per_school_summary

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large)

size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean() 
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score": size_math_scores,
                           "Average Reading Score": size_reading_scores,
                           "% Passing Math": size_passing_math,
                           "% Passing Reading": size_passing_reading,
                           "% Overall Passing": size_overall_passing})

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type,
                            "Average Reading Score": average_reading_score_by_type,
                            "% Passing Math": average_percent_passing_math_by_type,
                            "% Passing Reading": average_percent_passing_reading_by_type,
                            "% Overall Passing": average_percent_overall_passing_by_type})

# Display results
type_summary